
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>Home</title>
</head>
<body>
<div>
    <h2>Hello BtCoin!</h2>

    <div class=""><span>查询信息</span></div>
    <ul>
        <li>
            <label><em>*</em>s1：</label>
            <span style="display:block;" th:text="${s1}"></span>
        </li>
        <li>
            <label><em>*</em>s2：</label>
            <span style="display:block;" th:text="${s2}"></span>
        </li>
    </ul>
    </div>

</body>
</html>